# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
page = requests.get('https://github.com/trending/developers')
page.status_code

200

In [3]:
#page.content

In [4]:
soup = BeautifulSoup(page.content, 'html.parser')

In [5]:
#print(soup.prettify())

In [6]:
#list(soup.children)

In [7]:
[type(item) for item in list(soup.children)]

[bs4.element.NavigableString,
 bs4.element.Doctype,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.NavigableString,
 bs4.element.NavigableString,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.NavigableString,
 bs4.element.NavigableString,
 bs4.element.NavigableString,
 bs4.element.NavigableString,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.Tag,
 bs4.element.NavigableString,
 bs4.element.NavigableString,
 bs4.element.NavigableString]

In [8]:
#html = list(soup.children)[3]
#list(html.children)

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [9]:
# your code here
#names = soup.find_all('h1',{"h3 lh-condensed"})
names = [name.get_text().strip().split("\n") for name in soup.find_all('h1',{"h3 lh-condensed"})]
names = [name1 for name in names for name1 in name]
names

['Joakim Sørensen',
 'Joe Block',
 'Luke Edwards',
 'Jason Miller',
 'Franck Nijhof',
 'Jef LeCompte',
 'David Tolnay',
 'Michael (Parker) Parker',
 'Alex Ellis',
 'Paulus Schoutsen',
 'pajlada',
 'Xaymar',
 'Wim',
 'Dries Vints',
 'Saul Pwanson',
 'fent',
 'Radovan Bast',
 'Shreyas Patil',
 'Tony Arcieri',
 'Anurag Hazra',
 'Jason Etcovitch',
 'hackerman',
 'Kris Kaczor',
 'Geoff Boeing',
 'Simon Ser']

In [10]:
username = [ user.text.strip().split("\n") for user in soup.find_all('p',{"f4 text-normal mb-1"})]
username = [user1 for user in username for user1 in user]
username = [' ('+ x +')' for x in username]
final = zip(names,username)
final = [x+y for x,y in final]
final

['Joakim Sørensen (ludeeus)',
 'Joe Block (unixorn)',
 'Luke Edwards (lukeed)',
 'Jason Miller (developit)',
 'Franck Nijhof (frenck)',
 'Jef LeCompte (jef)',
 'David Tolnay (dtolnay)',
 'Michael (Parker) Parker (parkervcp)',
 'Alex Ellis (alexellis)',
 'Paulus Schoutsen (balloob)',
 'pajlada (pajlada)',
 'Xaymar (Xaymar)',
 'Wim (42wim)',
 'Dries Vints (driesvints)',
 'Saul Pwanson (saulpw)',
 'fent (bast)',
 'Radovan Bast (PatilShreyas)',
 'Shreyas Patil (tarcieri)',
 'Tony Arcieri (anuraghazra)',
 'Anurag Hazra (JasonEtco)',
 'Jason Etcovitch (aeneasr)',
 'hackerman (krzkaczor)',
 'Kris Kaczor (gboeing)',
 'Geoff Boeing (emersion)']

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [11]:
# your code here
page2 = requests.get('https://github.com/trending/python?since=daily')
page2.status_code

200

In [12]:
soup2 = BeautifulSoup(page2.content)

In [13]:
repos = soup2.find_all('h1',attrs ={'class':"h3 lh-condensed"})
repos = [name.get_text(strip = True) for name in repos]
repos

['3b1b /manim',
 'public-apis /public-apis',
 'swisskyrepo /PayloadsAllTheThings',
 'microsoft /restler-fuzzer',
 'home-assistant /core',
 'GuitarML /GuitarLSTM',
 'microsoft /playwright-python',
 'KasperskyLab /TinyCheck',
 'gto76 /python-cheatsheet',
 'ageitgey /face_recognition',
 'donnemartin /system-design-primer',
 'rajkumardusad /Tool-X',
 'ytdl-org /youtube-dl',
 'rytilahti /python-miio',
 'scikit-learn /scikit-learn',
 'PiotrMachowski /Xiaomi-cloud-tokens-extractor',
 'jackfrued /Python-100-Days',
 'OWASP /CheatSheetSeries',
 'ankitects /anki',
 'pennersr /django-allauth',
 'sqlmapproject /sqlmap',
 'Rapptz /discord.py',
 'spotDL /spotify-downloader',
 'Pitt-CSC /Summer2021-Internships',
 'TheLastGimbus /GooglePhotosTakeoutHelper']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [14]:
page3 = requests.get('https://en.wikipedia.org/wiki/Walt_Disney')
page3.status_code

200

In [15]:
soup3 = BeautifulSoup(page3.content)
images = soup3.find_all('a', {'image'})
images = [ image.get('href') for image in images]
images = ['https://en.wikipedia.org/'+ image for image in images]
images

['https://en.wikipedia.org//wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org//wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 'https://en.wikipedia.org//wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org//wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org//wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org//wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org//wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org//wiki/File:Disney_Display_Case.JPG',
 'https://en.wikipedia.org//wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org//wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org//wiki/File:P_vip.svg',
 'https://en.wikipedia.org//wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org//wiki/File:Video-x-generic.svg',
 'https://en.wikipedia.org//wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 'https://en.wikipedia.org//wiki/File:Blank_television_set.svg',
 'https://en.wikipedia.org//wiki/File:Flag_of_the_United_States.svg']

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [16]:
# This is the url you will scrape in this exercise
page4= requests.get('https://www.wikipedia.org/')
page4.status_code

200

In [17]:
soup4 = BeautifulSoup(page4.content, 'lxml')
languages = soup4.find_all('a', attrs = {'class':'link-box'})
languages = [language.get_text().strip('\n').split('\n') for language in languages]
languages = [y.replace('\xa0', ' ') for x in languages for y in x]
languages

['English',
 '6 199 000+ articles',
 'Español',
 '1 643 000+ artículos',
 '日本語',
 '1 240 000+ 記事',
 'Deutsch',
 '2 505 000+ Artikel',
 'Русский',
 '1 680 000+ статей',
 'Français',
 '2 273 000+ articles',
 'Italiano',
 '1 655 000+ voci',
 '中文',
 '1 160 000+ 條目',
 'Português',
 '1 048 000+ artigos',
 'Polski',
 '1 441 000+ haseł']

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [18]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [19]:
lang = (pd.read_html('https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'))[0]
top10 = lang.sort_values('Speakers(millions)', ascending = False).head(10)
top10

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[8],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic
3,4,Portuguese,346.0,4.450%,Indo-European,Romance
4,5,Hindi (sanskritised Hindustani)[9],341.0,4.429%,Indo-European,Indo-Aryan
5,6,Bengali,228.0,2.961%,Indo-European,Indo-Aryan
6,7,Russian,154.0,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128.0,1.662%,Japonic,Japanese
8,9,Western Punjabi[10],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [20]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [21]:
# your code here
page5= requests.get('https://www.imdb.com/chart/top')
soup5 = BeautifulSoup(page5.content)

In [22]:
movies = (pd.read_html('https://www.imdb.com/chart/top'))[0]
movies = movies[['Rank & Title','IMDb Rating']]
movies.shape

(250, 2)

In [23]:
directors = soup5.find_all('td', attrs = {'class': 'titleColumn'})
directors = [director.find('a').get('title') for director in directors]
directors = [x.split(',') for x in directors]
directors = [director[0] for director in directors]
directors = pd.DataFrame(directors)
directors.shape

(250, 1)

In [24]:
movies['directors'] = directors
movies[['Rank & Title','Year']] = movies['Rank & Title'].str.split("(",expand=True,)
movies['Year'] = movies['Year'].str.rstrip(')')
movies

,Rank & Title,IMDb Rating,directors,Year
0,1. The Shawshank Redemption,9.2,Frank Darabont (dir.),1994
1,2. The Godfather,9.1,Francis Ford Coppola (dir.),1972
2,3. The Godfather: Part II,9.0,Francis Ford Coppola (dir.),1974
3,4. The Dark Knight,9.0,Christopher Nolan (dir.),2008
4,5. 12 Angry Men,8.9,Sidney Lumet (dir.),1957
...,...,...,...,...
245,246. De slag om Algiers,8.0,Gillo Pontecorvo (dir.),1966
246,247. Mandariinid,8.0,Zaza Urushadze (dir.),2013
247,248. The Circus,8.0,Charles Chaplin (dir.),1928
248,249. De uitroeier,8.0,James Cameron (dir.),1984
249,250. Koe no katachi,8.0,Naoko Yamada (dir.),2016

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [32]:
page6= requests.get('https://www.imdb.com/list/ls009796553/')
soup6 = BeautifulSoup(page6.content)
random = [x.get_text(strip = True).split('|') for x in soup6.find_all('h3', attrs = {'class': 'lister-item-header'})]
title_year = [x.split('(') for y in random for x in y]
title = [y[0].split('.')[1] for y in title_year]
year = [y[1][:-1] for y in title_year]
summary = [x. get_text(strip = True) for x in soup6.find_all('p', attrs = {'class': ""})]
dict = {'Title': title, 'Year': year, 'Summary': summary}  
df = pd.DataFrame(dict)
top10 = df.head(10)
top10.index = np.arange(1, len(top10) + 1)
top10

,Title,Year,Summary
1,A Nightmare on Elm Street,1984,The monstrous spirit of a slain child murderer...
2,Awakenings,1990,The victims of an encephalitis epidemic many y...
3,A League of Their Own,1992,Two sisters join the first female professional...
4,A Bronx Tale,1993,A father becomes worried when a local gangster...
5,Angels in the Outfield,1994,When a boy prays for a chance to have a family...
6,A Time to Kill,1996,"In Canton, Mississippi, a fearless young lawye..."
7,Amistad,1997,"In 1839, the revolt of Mende captives aboard a..."
8,Anaconda,1997,"A ""National Geographic"" film crew is taken hos..."
9,"A Cool, Dry Place",1998,"Russell, single father balances his work as a ..."
10,American History X,1998,A former neo-nazi skinhead tries to prevent hi...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
#city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

In [ ]:
# your code here